{% extends 'base.html' %}
{% load static %}
{% block title %} 
    Bahrom
{% endblock %}

{% block content %}

<main class="content">
    <div>
      <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
        <i class="ri-menu-line ri-xl"></i>
      </a>

      <h1 style="margin-bottom: 0">Resent Posts</h1>
      
    </div>
    <br>

<!-- cards -->
<div class="row row-cols-1 row-cols-md-4 g-4">
        {% for post in posts %}
    <div class="col">
        <div class="card">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            {% endif %}
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <span class="badge text-bg-info">{{ post.created_at }}</span>
            {% for tag in tags %}
                <span class="badge rounded-pill text-bg-dark">{{ tag }}</span>
            {% endfor %}
            <br><br>

            <p class="card-text">{{ post.short_description }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a>

        </div>
        </div>
    </div>
    {% endfor %}
    </div>
<!-- cards end -->

    
   
    <footer class="footer">
      <small style="margin-bottom: 20px; display: inline-block">
        © 2023
        <a target="_blank" href="https://bahrombek.uz"> bahrombek.uz</a>
      </small>
      <br />

      <div class="social-links">
        <a href="https://github.com/bahrom04" target="_blank">
          <i class="ri-github-fill ri-xl"></i>
        </a>
        
        <a href="https://www.linkedin.com/in/bahrom-bek-6b8a49212/" target="_blank">
          <i class="ri-linkedin-box-fill ri-xl"></i>
        </a>
      </div>
    </footer>
  </main>

{% endblock %}